.DataProvider{
  color: #201b18;
}
.DataProvider img{
  width: 100%;
}
.Button{
  border: none;
  background: #ef49a5;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.42);
  cursor: pointer;
}
.Button:hover{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.42);
  cursor: pointer;
  transition: .3s;
}
