.History{
  color: #201b18;
  box-shadow: 0px 1px 7px 0px #00000066;
  border-radius: 5px;
  background-color: white;
}
.History img{
  width: 100%;
  padding: 0;
  border-radius: 5px 5px 0px 0px;
}
.Button{
  border: none;
  background: #ef49a5;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.42);
  cursor: pointer;
}
.Button:hover{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.42);
  cursor: pointer;
  transition: .3s;
}
.Preloader{
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  color: #ed5e5e;
}
.Preloader p {
  margin-top: 10px;
  background: #e8e7eb;
  padding: 5px;
  border-radius: 10px;
}
